.fireflyService-hero {
  background: url('../pages/images/HeroBackground.png') !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.fireflyService-hero>div {
  margin: 0% 10%;
  column-gap: 3em;
  justify-content: space-between
}

.fireflyService-hero video {
  width: 700px !important;
  padding: 0;
}

.fireflyService-hero>div>div>p {
  width: 90% !important;
}

.fireflyService-hero>div>div:first-child {
  margin: 80px auto !important;
}

.fireflyService-hero>div>div {
  width: 45% !important;
}

.fireflyService-hero>div>div:last-child>div {
  margin: 95px 0 0 30px !important;
}

.fireflyService-hero h1 {
  font-family: 'adobe-clean';
  color: black !important;
}

.fireflyService-hero p.spectrum-Body--sizeL {
  color: black !important;
}

.videoBlock h3 {
  font-size: 40px;
  /* width: 75%; */
}


.videoBlock>div>div>p {
  width: 62%;
}

.videoBlock>div>div>div {
  width: 38%;
}

.videoBlock>div>div>div>p:first-child {
  margin-bottom: 20px !important;
}

.videoBlock>div>div>div>p:last-child {
  font-size: large !important;
}

.fireflyAnnouncement>div {
  padding-top: 70px;
  padding-bottom: 30px;
}

.contactUs>div {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.fireflyAnnouncement>div>div {
  width: 100%;
  justify-content: center !important;
}

.fireflyAnnouncement>div>div>div {
  text-align: center;
  width: 68% !important;
}

.fireflyAnnouncement h3 {
  font-size: 37px !important;
}

.creative-cloud-apiWays>div>div>div {
  width: 65% !important;
}

.campaigns ul {
  margin-top: 20px !important;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.campaigns h3 {
  font-size: 35px;
  width: 75%;
}

.campaigns>div>div>p {
  width: 100%
}

.campaigns>div {
  padding: 30px !important;
}

.last_campaigns>div {
  padding-bottom: 5% !important;
}

.wrapperForDisplayListItems table {
  width: 80% !important;
  margin: auto auto auto 15% !important;
  background: var(--spectrum-global-color-gray-100) !important;
}

.wrapperForDisplayListItems tbody,
.wrapperForDisplayListItems {
  background: var(--spectrum-global-color-gray-100) !important;
}

.wrapperForDisplayListItems>div {
  width: 100% !important;
  padding-bottom: 5% !important;
}

.wrapperForDisplayListItems th {
  text-transform: none !important;
  font-size: 25px !important;
  letter-spacing: 0 !important;
  padding-bottom: 30px !important;
}

.wrapperForDisplayListItems td {
  border: none !important;
  border-right: 2px solid !important;
  border-color: rgb(150, 150, 150) !important;
  border-style: none dotted none none !important;
}

.wrapperForDisplayListItems tr>td,
.wrapperForDisplayListItems th {
  padding-left: 50px !important;
}

.wrapperForDisplayListItems tr>td:last-child {
  border: none !important;
}

.wrapperForDisplayListItems td>div {
  font-size: large !important;
  text-align: initial !important;
}

.mobileWrapper {
  display: none !important;
}

.designedForDevlopers {
  background: url('../pages/images/DesignedForDevelopers_background.png') !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.designedForDevlopers>div {
  padding: 0 !important;
}

.designedForDevlopers h3 {
  font-size: 35px !important;
}

.designedForDevlopers img {
  width: 75% !important;
}

.designedForDevlopers>div>div>div>p {
  font-size: large !important;
}

.cardsWrapper {
  padding-bottom: 5% !important;
}

.cardList {
  padding: 0 !important;
}

.cardList>div {
  padding: 0;
}

.cardList>div>p:first-child {
  height: 200px !important;
  margin-bottom: 0 !important;
}

.cardList>div>h3 {
  font-size: 22px !important;
}

.cardList>div>p:last-child {
  font-size: 17px !important;
}

.campaigns a {
  color: #1473E6 !important;
  font-weight: 600 !important;
}

.aiImages {
  display: flex;
}

.aiImages>span {
  margin-left: 5% !important;
}

.services>div>div>div>div {
  height: auto !important;
}

.services>div>div>div>div>a>span>span>div>span {
  display: none;
}

.miniproductListWrapper>div {
  width: 90% !important;
}

.carousel {
  padding-top: 0 !important;
}

.carousel>div {
  /* padding-top: 0px important; */
  padding-bottom: 40px;
}


.carousel>div>div>div>div>div {
  gap: 50px;
}

.carousel>div>div>div>div>div>div {
  color: #6366f1;
  justify-content: center;
}

.carousel>div>div>div>div>div>div:first-child {
  flex-grow: 1.25;
}

.carousel>div>div>div>div>div>div:first-child>h2>p>span>picture>img {
  border-radius: 25px;
}

.carousel>div>div>div>div>div>div:nth-child(2) {
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 7%;
}

.iframe-container #fassForm {
  width: 100%;
  height: 700px;
}

.thankYouContent p {
  font-weight: lighter !important;
  font-size: var(--spectrum-body-l-text-size, var(--spectrum-global-dimension-font-size-500)) !important;
}

.thankYouContent>div {
  max-width: 100% !important;
}

.contactUsHerobgImage>div>h1 {
  font-family: 'adobe-clean' !important;
}

.contactUsHerobgImage {
  background: url("../pages/images/HeroBackground.png") !important;
}

.contactUs>div>div>div>div>div {
  justify-content: center !important;
}

.contactUs>div>div>div>div>div>div>a {
  background: transparent !important;
  border: 2px solid !important;
}

.contactUs>div>div>div>div>div>div>a>span {
  color: #000000 !important;
  font-size: medium !important;
}

.contactUsHerobgImage h1 {
  color: black !important;
}

@media screen and (min-width:320px) and (max-width:1024px) {

  .fireflyService-hero>div {
    margin: 0% !important;
    flex-direction: column !important;
  }

  .fireflyService-hero>div>div:last-child {
    display: block !important;
  }

  .fireflyService-hero video {
    padding: 0 !important;
  }

  .fireflyService-hero>div>div {
    width: 100% !important;
  }

  .videoBlock>div {
    padding: 5% !important;
  }

  .videoBlock>div>div>div>p:last-child,
  .videoBlock h3 {
    width: 100% !important;
  }

  .fireflyAnnouncement>div>div>div {
    width: 100% !important;
    margin: 0 !important;
  }

  .fireflyService-hero>div>div:last-child>div {
    margin: 0 !important;
  }

  .campaigns>div>div>p,
  .campaigns h3 {
    width: 100% !important;
  }

  .campaigns>div {
    padding: 0 !important;
  }

  .designedForDevlopers>div>div>p {
    margin: 0 !important;
  }

  .designedForDevlopers>div {
    padding: 0 !important;
  }

  .wrapperForDisplayListItems table {
    margin: auto !important;
  }

  .cardsWrapper>div {
    overflow: hidden !important;
  }

  .designedForDevlopers img,
  .miniproductListWrapper>div {
    width: 100% !important;
  }

}

@media screen and (min-width:320px) and (max-width:767px) {

  .fireflyService-hero video {
    width: 280px !important;
    padding: 0;
  }

  .iframe-container #fassForm {
    height: 900px !important;
  }

  .campaigns>div>div>div {
    padding: 30px !important;
  }

  .wrapperForDisplayListItems {
    display: none !important;
  }

  .mobileWrapper {
    display: block !important;
  }

  .mobileWrapper table {
    width: 80% !important;
    margin: auto;
  }

  .mobileWrapper tr>td:last-child {
    border: none !important;
    text-align: initial !important;
  }

  .mobileWrapper tbody,
  .mobileWrapper {
    background: var(--spectrum-global-color-gray-100) !important;
  }

  .mobileWrapper td>div {
    font-size: large !important;
    text-align: initial !important;
  }

  .mobileWrapper th,
  .mobileWrapper tr:nth-child(6)>td>div,
  .mobileWrapper tr:nth-child(15)>td>div {
    text-transform: none !important;
    font-size: 25px !important;
    letter-spacing: 0 !important;
    padding-bottom: 20px !important;
    font-weight: var(--spectrum-table-regular-header-text-font-weight);
  }

  .designedForDevlopers>div>div>div {
    padding: 20px !important;
  }

  .designedForDevlopers img {
    width: 100% !important;
  }

  .mobileWrapper table {
    padding-bottom: 40px !important;
  }

}

@media screen and (min-width:768px) and (max-width:1024px) {

  .fireflyService-hero video {
    width: 600px !important;
    padding: 0;
  }

}
