.fireflyService-hero {
  background: url('../images/HeroBackground.png') !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.fireflyService-hero>div {
  margin: 0% 12%;
}

.fireflyService-hero>div>div>p {
  width: 90% !important;
}

.fireflyService-hero>div>div:first-child {
  margin: 60px auto !important;
}

.fireflyService-hero>div>div {
  width: 45% !important;
}

.fireflyService-hero h1 {
  font-family: 'adobe-clean';
  color: black !important;
}

.fireflyService-hero p.spectrum-Body--sizeL {
  color: black !important;
}

.fireflyAnnouncement>div>div {
  width: 100%;
  justify-content: center !important;
}

.fireflyAnnouncement>div>div>div {
  text-align: center;
  width: 68% !important;
}

.fireflyAnnouncement h3 {
  font-size: 37px !important;
}

.creative-cloud-apiWays>div>div>div {
  width: 65% !important;
}

.campaigns ul {
  margin-top: 20px !important;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.campaigns h3 {
  font-size: 35px;
  width: 75%;
}

.campaigns>div>div>p {
  width: 100%
}

.campaigns>div {
  padding: 30px !important;
}

.last_campaigns>div {
  padding-bottom: 5% !important;
}

.wrapperForDisplayListItems table {
  width: 80% !important;
  margin: auto auto auto 15% !important;
  background: var(--spectrum-global-color-gray-100) !important;
}

.wrapperForDisplayListItems tbody,
.wrapperForDisplayListItems {
  background: var(--spectrum-global-color-gray-100) !important;
}

.wrapperForDisplayListItems>div {
  width: 100% !important;
  padding-bottom: 5% !important;
}

.wrapperForDisplayListItems th {
  text-transform: none !important;
  font-size: 25px !important;
  letter-spacing: 0 !important;
  padding-bottom: 50px !important;
}

.wrapperForDisplayListItems td {
  border: none !important;
  border-right: 2px solid !important;
  border-color: rgb(150, 150, 150) !important;
  border-style: none dotted none none !important;
}

.wrapperForDisplayListItems tr>td,
.wrapperForDisplayListItems th {
  padding-left: 50px !important;
}

.wrapperForDisplayListItems tr>td:last-child {
  border: none !important;
}

.wrapperForDisplayListItems td>div {
  font-size: large !important;
  text-align: initial !important;
}

.mobileWrapper {
  display: none !important;
}

.designedForDevlopers {
  background: url('../images/DesignedForDevelopers_background.png') !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.designedForDevlopers>div {
  padding: 0 !important;
}

.designedForDevlopers h3 {
  font-size: 35px !important;
}

.designedForDevlopers img {
  width: 75% !important;
}

.designedForDevlopers>div>div>div>p {
  font-size: large !important;
}

.cardsWrapper {
  padding-bottom: 5% !important;
}

.cardList {
  padding: 0 !important;
}

.cardList>div>p:first-child {
  height: 200px !important;
  margin-bottom: 0 !important;
}

.cardList>div>p:last-child {
  font-size: 19px !important;
}

.campaigns a {
  color: #1473E6 !important;
  font-weight: 600 !important;
}

.aiImages {
  display: flex;
}

.aiImages>span {
  margin-left: 5% !important;
}

.miniproductListWrapper>div {
  width: 90% !important;
}

@media screen and (min-width:320px) and (max-width:1024px) {

  .fireflyService-hero>div {
    margin: 0% !important;
    flex-direction: column !important;
  }

  .fireflyService-hero>div>div:last-child {
    display: block !important;
  }

  .fireflyService-hero video {
    padding: 0 !important;
  }

  .fireflyService-hero>div>div {
    width: 100% !important;
  }

  .fireflyAnnouncement>div>div>div {
    width: 100% !important;
    margin: 0 !important;
  }

  .fireflyService-hero>div>div:last-child>div {
    margin: 0 !important;
  }

  .campaigns>div>div>p,
  .campaigns h3 {
    width: 100% !important;
  }

  .campaigns>div {
    padding: 0 !important;
  }

  .designedForDevlopers>div>div>p {
    margin: 0 !important;
  }

  .designedForDevlopers>div {
    padding: 0 !important;
  }

  .wrapperForDisplayListItems table {
    margin: auto !important;
  }

}

@media screen and (min-width:320px) and (max-width:767px) {

  .campaigns>div>div>div {
    padding: 30px !important;
  }

  .wrapperForDisplayListItems {
    display: none !important;
  }

  .mobileWrapper {
    display: block !important;
  }

  .mobileWrapper table {
    width: 80% !important;
    margin: auto;
  }

  .mobileWrapper tr>td:last-child {
    border: none !important;
    text-align: initial !important;
  }

  .mobileWrapper tbody,
  .mobileWrapper {
    background: var(--spectrum-global-color-gray-100) !important;
  }

  .mobileWrapper td>div {
    font-size: large !important;
    text-align: initial !important;
  }

  .mobileWrapper th,
  .mobileWrapper tr:nth-child(6)>td>div,
  .mobileWrapper tr:nth-child(15)>td>div {
    text-transform: none !important;
    font-size: 25px !important;
    letter-spacing: 0 !important;
    padding-bottom: 20px !important;
    font-weight: var(--spectrum-table-regular-header-text-font-weight);
  }

  .designedForDevlopers>div>div>div {
    padding: 20px !important;
  }

  .designedForDevlopers img {
    width: 100% !important;
  }

  .mobileWrapper table {
    padding-bottom: 40px !important;
  }

}